@import url(https://unpkg.com/bootstrap@4.4.1/dist/css/bootstrap.min.css);
@import url(https://unpkg.com/bootstrap-social@5.1.1/bootstrap-social.css);
@import url(https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css);

.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9D9D9D;
    color: floralwhite;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0F0F0F;
}