@import url(https://unpkg.com/bootstrap@4.4.1/dist/css/bootstrap.min.css);
@import url(https://unpkg.com/bootstrap-social@5.1.1/bootstrap-social.css);
@import url(https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css);
@import url(https://www.w3schools.com/w3css/4/w3.css);

#Photo{
    max-height: 300px;
    margin: 0px auto;
    border-radius: 50%;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-brand{
    padding-left: 1.8%;
    text-align: left;
    width: 50%;
    font-size: 150%;
}

.nav-item{
    width: 150px;
    font-size: 110%;
}

.navbar-dark {
     background-color: #222222;
     border-bottom: 4px solid black;
}

.double-border {
    border: 20px double #111111;
    padding: 5px;
  }

.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px 4% 0px 2%;
    padding: 25px 0px 25px 0px;
    border-bottom: 1px ridge;
    min-height: 320px;
}

.footer{
    background: #222222;
    color: floralwhite;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 20px 30px 20px 30px;
    margin: 0px auto;

    font-size: 120%;

    background: #222222;
    color: floralwhite;
}

.jumbotron h1{
    font-size: 400%;
    max-width: 90%;
    font-weight: bold;
}

aside{
    background-color: #AFD3AF;
    padding: 1u;
}

aside h3{
    background-color: #9FC39F;
    padding: 15px 15px;
    border-radius: 15px;
    margin: auto;
}

aside p{
    padding: 15px 30px;
    font-size: 150%;
}

.btn-social-icon{
    border-radius: 50%;
}

.fa-orcid{
    background: #a4c639;
}

.fa-torrebio{
    color: antiquewhite;
    background: #222222;
    border: 3px solid  #a4c639;
}